/*regola di style */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');

h1 {
    font-size: 24px;
    color: red;
}

body {
    font-family: 'Edu NSW ACT Foundation', cursive;
    background-image: url("image/image1.png"),linear-gradient(45grad,#D95B89,#F2C4D5);
    background-position: center;
}
.intro{
    float: left;
    border: 1px solid red;
    box-sizing: border-box;
    width: 35%;
}

#zen-supporting{
    float: right;
    border: 1px solid blue;
    box-sizing: border-box;
    width: 65%;
}
aside{
    border: 1px solid green;
}

header{
    border: 1px solid yellow;
    border-radius: 50px  0px 50px 0px;
    background-color: darkmagenta;
    padding: 10px;
}